@import "tailwindcss";

a {
  text-decoration: none;
}

.custom-carousel .slick-prev,
.custom-carousel .slick-next {
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 30px;
  color: #fff;
}

.ant-carousel .slick-next::after {
  width: 18px;
  height: 18px;
}

.ant-carousel .slick-prev::after {
  width: 18px;
  height: 18px;
}

.ant-carousel .slick-next {
  opacity: 10;
}

.ant-carousel .slick-prev {
  opacity: 10;
}

.slick-dots {
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .slick-arrow.slick-next {
    display: none !important;
  }

  .slick-arrow.slick-prev {
    display: none !important;
  }
}
